* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "Neue Montreal";
}

.slider {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.slide {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

#slide-1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spacer {
  height: 500vh;
}

.slider-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.5);
}

.slide-number {
  position: absolute;
  top: 55%;
  left: 10%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.25em;
}

.postfix span {
  padding: 0 0.25em;
}

.slide-name {
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.slide-year {
  position: absolute;
  top: 55%;
  right: 20%;
  transform: translate(-50%, -50%);
}

.slide-number,
.slide-name,
.slide-year {
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  clip-path: polygon(0 0, 100% 0, 100% 30px, 0 30px);
  text-transform: uppercase;
}

.prefix,
.names,
.years {
  position: relative;
  top: 0;
}

@media (max-width: 900px) {
  .slide-name {
    left: 50%;
  }

  .slide-year {
    right: 10%;
  }
}
