* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(0);
  transform-style: inherit;
}

.section-1 {
  background: url("./bg/bg-1.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.section-2 {
  background: #a95921;
}

.section-3 {
  background: url("./bg/bg-3.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.section-4 {
  background: #d09c39;
}

.section-5 {
  background: url("./bg/bg-5.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.section-6 {
  background: #1e5c61;
}

.copy {
  position: relative;
  width: 75%;
  margin-top: 0px;
  font-family: Helvetica, sans-serif, serif;
  font-size: 26px;
  color: #fff;
  mix-blend-mode: difference;
  line-height: 100%;
  text-align: left;
  overflow: hidden;
}

.split-line {
  overflow: hidden;
}

.split-parent {
  overflow: hidden;
}
