* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 500vh;
  background-color: #0f0f0f;
}

p {
  text-transform: uppercase;
  font-family: "Akkurat Mono";
  font-size: 10px;
  font-weight: 500;
  line-height: 1.125;
  color: #fff;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1.5em;
  display: flex;
  z-index: 2;
  mix-blend-mode: difference;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  mix-blend-mode: difference;
}

.nav-col {
  flex: 1;
}

.nav-col:nth-child(1) {
  display: flex;
}

.nav-col:nth-child(1) p {
  flex: 1;
}

.nav-col:nth-child(2) {
  text-align: right;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
