* {
  box-sizing: border-box;
}

body {
  background: #fff;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.nav {
  position: fixed;
  padding: 2em;
  width: 100%;
  text-align: center;
  z-index: 1000000;
  color: #fff;
  mix-blend-mode: difference;
  font-family: "Neue Montreal";
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.gallery {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.cards {
  position: absolute;
  width: 75vw;
  height: 40vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  /* Hide initially to prevent FOUC */
}

.cards li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 75vw;
  height: 40vh;
  position: absolute;
  top: 0;
  left: 0;
}

li:nth-child(1) {
  background: url(./images/img-1.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(2) {
  background: url(./images/img-2.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(3) {
  background: url(./images/img-1.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(4) {
  background: url(./images/img-2.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(5) {
  background: url(./images/img-1.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(6) {
  background: url(./images/img-2.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(7) {
  background: url(./images/img-1.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(8) {
  background: url(./images/img-2.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(9) {
  background: url(./images/img-1.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(10) {
  background: url(./images/img-2.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(11) {
  background: url(./images/img-1.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(12) {
  background: url(./images/img-2.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(13) {
  background: url(./images/img-1.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(14) {
  background: url(./images/img-2.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(15) {
  background: url(./images/img-1.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(16) {
  background: url(./images/img-2.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(17) {
  background: url(./images/img-1.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(18) {
  background: url(./images/img-2.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(19) {
  background: url(./images/img-1.png) no-repeat 50% 50%;
  background-size: cover;
}

li:nth-child(20) {
  background: url(./images/img-2.png) no-repeat 50% 50%;
  background-size: cover;
}