* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Neue Montreal", sans-serif;
  height: 100vh;
  background: #0f0f0f;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.nav {
  width: 100%;
  display: flex;
  gap: 2em;
  padding: 2em 2.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

a {
  text-decoration: none;
  color: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 4em 2em;
  color: #5f5f5f;
}

.transition {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  background: #ffffff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.container {
  padding: 2em;
}

.header {
  position: relative;
  width: max-content;
  height: max-content;
}

h1 {
  position: relative;
  line-height: 1;
  font-size: 120px;
  font-weight: 400;
  color: #fff;
  top: 120px;
}

.header-revealer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.header-revealer:after {
  content: "";
  position: absolute;
  top: 120px;
  left: 0;
  width: 110%;
  height: 110%;
  background: #0f0f0f;
}
