@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
  line-height: 1;
}

a,
p {
  color: #fff;
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 550;
  line-height: 1;
  display: inline-block;
}

nav {
  position: fixed;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2;
}

nav .nav-links {
  display: flex;
  gap: 0.75rem;
}

.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.hero img#glassTexture {
  display: none;
}

.hero-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-content h1 {
  width: 60%;
}

@media (max-width: 1000px) {
  .hero-content {
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .hero-content h1 {
    width: 100%;
  }
}
