@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --light: #fff;
  --dark: #141414;
  --accent-1: #dc5935;
  --accent-2: #d3ef76;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--dark);
  color: var(--light);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2 {
  font-weight: 400;
  line-height: 1.1;
}

h1 {
  font-size: clamp(3rem, 4vw, 5rem);
}

h2 {
  font-size: clamp(1.5rem, 2.25vw, 3rem);
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.4;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: var(--dark);
  overflow: hidden;
}

.outro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200svh;
  --overlay-opacity: 0.35;
  will-change: transform;
}

.hero-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  opacity: var(--overlay-opacity);
  will-change: opacity;
}

.hero-img img {
  will-change: filter;
}

.hero-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: var(--dark);
  mask: linear-gradient(var(--light), var(--light)),
    url("./public/mask.svg") center/50% no-repeat;
  -webkit-mask: linear-gradient(var(--light), var(--light)),
    url("./public/mask.svg") center/50% no-repeat;
  mask-composite: subtract;
  -webkit-mask-composite: subtract;
  will-change: transform;
  pointer-events: none;
}

.hero-grid-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  will-change: opacity;
}

.hero-grid-overlay img {
  opacity: 0.25;
}

.marker {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 1rem;
  will-change: opacity;
}

.marker-1 {
  top: 50svh;
  left: 50vw;
}

.marker-2 {
  top: 35svh;
  left: 60vw;
}

.marker .marker-label {
  text-transform: uppercase;
  font-family: "DM Mono";
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.marker .marker-icon {
  position: relative;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 2rem;
}

.marker .marker-icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  animation: pulse 1.5s cubic-bezier(0.2, 0.6, 0.35, 1) infinite;
}

.marker.marker-1 .marker-icon,
.marker.marker-1 .marker-icon::before,
.marker.marker-1 .marker-label {
  background-color: var(--accent-1);
  color: var(--light);
}

.marker.marker-2 .marker-icon,
.marker.marker-2 .marker-icon::before,
.marker.marker-2 .marker-label {
  background-color: var(--accent-2);
  color: var(--dark);
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.25);
  }

  80%,
  100% {
    opacity: 0;
  }
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400svh;
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.hero-content .hero-content-block {
  width: 100%;
  height: 100svh;
  padding: 4rem;
  display: flex;
}

.hero-content .hero-content-copy {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.hero-content .hero-content-block:nth-child(1) {
  align-items: flex-end;
}

.hero-content .hero-content-block:nth-child(2),
.hero-content .hero-content-block:nth-child(4) {
  justify-content: flex-end;
  align-items: center;
}

.hero-content .hero-content-block:nth-child(3) {
  align-items: center;
}

.hero-scroll-progress-bar {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  width: 0.1rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.2);
  --progress: 0;
}

.hero-scroll-progress-bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--light);
  transform-origin: top;
  transform: scaleY(var(--progress));
  will-change: transform;
}

@media (max-width: 800px) {
  .hero-mask {
    mask: linear-gradient(var(--light), var(--light)),
      url("./public/mask.svg") center/75% no-repeat;
    -webkit-mask: linear-gradient(var(--light), var(--light)),
      url("./public/mask.svg") center/75% no-repeat;
    mask-composite: subtract;
    -webkit-mask-composite: subtract;
  }

  .hero-grid-overlay {
    width: 100%;
  }

  .marker-1 {
    top: 52.5svh;
    left: 50vw;
  }

  .marker-2 {
    top: 45svh;
    left: 70vw;
  }

  .hero-content .hero-content-block {
    padding: 1.5rem;
  }

  .hero-content .hero-content-copy {
    width: 75%;
  }

  .hero-scroll-progress-bar {
    right: 1rem;
  }
}