.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 1200vh;
  font-family: "Akkurat Mono";
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p,
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.pinned {
  background-color: #111111;
}

.about {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
}

.info > div {
  flex: 1;
}

.link {
  display: flex;
  justify-content: flex-end;
}

.link a {
  padding: 0.35em;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
}

.progress-bar {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 120px;
  background-color: rgb(40, 40, 40);
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 2;
  background-color: #fff;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  width: 35%;
  height: 70%;
  z-index: -1;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.img img {
  filter: contrast(1) brightness(1);
}
