* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 800vh;
  font-family: "Apple Garamond Light";
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.nav-items {
  flex: 1;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  letter-spacing: -0.02em;
}

.nav-items {
  display: flex;
  justify-content: center;
  gap: 2em;
}

section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero {
  background: url(./assets/hero.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.outro p {
  color: #ded8c8;
  font-size: 30px;
  letter-spacing: -0.005em;
}

.sticky {
  position: relative;
  background-color: #ded8c8;
}

.sticky-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 250vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
}

.sticky-header h1 {
  margin: 0;
  color: #000;
  font-size: 30vw;
  font-weight: lighter;
  letter-spacing: -0.05em;
  line-height: 100%;
}

.card {
  position: absolute;
  top: 10%;
  left: 100%;
  width: 325px;
  height: 500px;
  background-color: #000;
  border-radius: 1em;
  padding: 0.5em;
  will-change: transform;
  z-index: 2;
}

.card .card-img {
  width: 100%;
  height: 200px;
  border-radius: 0.5em;
  overflow: hidden;
}

.card-content {
  width: 100%;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 0.5em;
}

.card-content h2 {
  font-size: 42px;
  font-weight: lighter;
  letter-spacing: -0.005em;
}

.card-content p {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: -0.005em;
}

@media (max-width: 900px) {
  .nav-items {
    justify-content: flex-end;
  }
}

/* lenis smooth scroll */
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
