* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "PP Neue Montreal";
  background: #e3e3e3;
  color: #000;
}

a {
  position: relative;
  text-decoration: none;
  color: #000;
}

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
}

.text {
  position: relative;
  width: max-content;
  height: max-content;
  padding: 10px;
}

.text p {
  position: relative;
  font-size: 18px;
}

.text-revealer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.text-revealer:after {
  content: "";
  position: absolute;
  top: 40px;
  width: 100%;
  height: 100%;
  background: #e3e3e3;
}

.gallery {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}

.img {
  width: 75px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  margin: 20px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
