@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  position: relative;
  color: #fff;
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: -0.4rem;
  line-height: 1.5;
  will-change: transform;
}

p {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.04rem;
  line-height: 1;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
}

img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em 4em;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.nav-items {
  display: flex;
  gap: 1em;
}

.logo a {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -0.06rem;
}

section {
  position: relative;
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0f0f;
  overflow: hidden;
}

.slide,
.slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  display: flex;
  align-items: flex-end;
  padding-bottom: 5em;
}

.slide-img img {
  position: relative;
  transform: scale(1.25);
  will-change: transform;
}

.slide-copy {
  position: relative;
  width: 100%;
  overflow: hidden;
  will-change: transform;
  z-index: 0;
}

.slide-tag {
  padding: 0 4em;
}

.slide-marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-container {
  width: 1000%;
}

.carousel-progress {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4em;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  z-index: 2;
}

.progress-bar {
  position: relative;
  flex: 1;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
}

.progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform-origin: center left;
  transform: scaleX(var(--progress, 0));
  will-change: transform;
}

@media (max-width: 900px) {
  .nav-items {
    display: none;
  }

  nav {
    padding: 2em;
  }

  .slide-tag {
    padding: 0 2em;
  }

  .marquee-container {
    width: 2000%;
  }

  .carousel-progress {
    padding: 2em 1em;
    gap: 0.5em;
  }
}
