* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Monument Extended";
  background: #0f0f0f;
}

.item {
  position: relative;
  width: 100%;
  height: 300px;
  pointer-events: none;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 80px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 2;
}

.item-img {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  h1 {
    font-size: 30px;
  }

  .item-img {
    width: 225px;
    height: 125px;
  }
}