* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 4em;
  justify-content: space-between;
  background: #fff;
  z-index: 999;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  padding: 0 1em;
  font-family: "HK Guise";
  font-weight: 500;
  font-size: 12px;
}

.logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Cosi Times";
  padding: 1em;
  z-index: 1000;
}

.container {
  width: 100%;
  height: 100vh;
  background: #fff;
}

.content {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: relative;
  padding: 0 4em;
}

.content img {
  width: 100%;
}

img {
  margin-bottom: 4em;
}
