* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #cecece;
}

.header {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25vw;
  font-family: "Longinus";
  font-weight: 300;
  color: red;
  text-transform: uppercase;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 20px;
}

.noImg {
  pointer-events: none;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.gallery .imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
}

.gallery img {
  display: block;
  width: 100%;
  height: auto;
}

.imgPreview {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

.wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
}

.imgPreview .wrap img {
  height: 100%;
  max-height: 80vh;
  width: auto;
}
