@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark: rgba(17, 39, 11, 1);
  --light: rgba(162, 255, 91, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 0.85;
  text-align: center;
}

section {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.hero,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
}

.hero h1,
.outro h1 {
  width: 50%;
}

.sticky-text-1,
.sticky-text-2 {
  background-color: var(--light);
  color: var(--dark);
}

.sticky-text-3 {
  color: var(--light);
}

.text-container,
.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: opacity, transform;
  z-index: 1;
}

.text-container h1 {
  position: relative;
  left: -0.035em;
  letter-spacing: -0.05em;
  transform-origin: 50% 0%;
  transform: scaleY(0);
}

.sticky-text-1 .text-container h1 {
  font-size: 23vw;
  font-weight: 300;
  will-change: transform;
}

.sticky-text-2 .text-container h1 {
  font-size: 35vw;
  will-change: transform;
}

.sticky-text-3 .text-container {
  background-color: var(--dark);
  color: var(--light);
}

.sticky-text-3 .text-container h1 {
  font-size: 27vw;
  font-weight: 900;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 2;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }

  .hero h1,
  .outro h1,
  .header {
    width: calc(100% - 4rem);
  }
}
