* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono";
  overflow-x: hidden;
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  overflow: hidden;
}

.intro,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  background-color: #ebeae4;
  color: #0f0f0f;
}

.outro {
  background-color: #eb4330;
  color: #0f0f0f;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav p {
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 20px;
  background-color: #0f0f0f;
  color: #ebeae4;
}

.sticky {
  background-color: #0f0f0f;
}

.sticky p {
  color: #0f0f0f;
}

.char {
  display: inline-block;
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
