* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: #0f0f0f;
  font-family: "Circular Std";
  overflow: hidden;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav,
footer {
  position: fixed;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  mix-blend-mode: difference;
}

a,
p {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.links {
  display: flex;
  gap: 2em;
}

nav {
  top: 0;
}

footer {
  bottom: 0;
}

.slider {
  width: 100vw;
  height: 100vh;
}

.slide-titles {
  position: absolute;
  top: 0;
  left: 0;
  width: 300vw;
  height: 100vh;
  display: flex;
  pointer-events: none;
  z-index: 2;
}

.title {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.2);
  transition: color 0.25s ease, opacity 0.25s ease;
}

.active h1 {
  color: #fff;
}

.slide-images {
  width: 550px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: all;
  opacity: 0.5;
}

.img-top {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(85% 0%, 0% 0%, 0% 50%, 85% 50%);
  transition: clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.img-bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 50%, 15% 50%, 15% 100%, 100% 100%);
  transition: clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slide-images:hover .img-top {
  clip-path: polygon(90% 0%, 10% 0%, 10% 50%, 90% 50%);
}

.slide-images:hover .img-bottom {
  clip-path: polygon(90% 50%, 10% 50%, 10% 100%, 90% 100%);
}

@media (max-width: 900px) {
  .slide-images {
    width: 100%;
    height: 100%;
  }

  .img-top,
  .img-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .slide-images:hover .img-top,
  .slide-images:hover .img-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .title h1 {
    opacity: 0;
    font-size: 24px;
  }

  .active h1 {
    opacity: 1;
  }
}
