* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Lay Grotesk";
  overflow: hidden;
}

img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
  transform: translateY(0) scale(1.5);
}

.container {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.project-list {
  position: absolute;
  width: 100%;
  will-change: transform;
  list-style: none;
}

.project {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: absolute;
  left: 0;
  will-change: transform;
}

.side {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -0.0125rem;
  padding: 0.5em;
}
