@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: -0.0125rem;
}

.container {
  position: fixed;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.project {
  position: absolute;
  width: 100%;
  height: 100svh;
  will-change: transform;
  overflow: hidden;
}

.minimap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: calc(250px + 3rem);
  background-color: #fff;
  padding: 1.5rem;
  overflow: hidden;
}

.minimap-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.minimap-img-preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 100%;
  overflow: hidden;
}

.minimap-img-item {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform;
  overflow: hidden;
}

.minimap-img-item img,
.project img {
  position: relative;
  transform: scale(1.5);
  will-change: transform;
}

.minimap-info-list {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.minimap-item-info {
  position: absolute;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  will-change: transform;
}

.minimap-item-info-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

@media (max-width: 1000px) {
  .minimap-img-preview {
    left: unset;
    right: 0rem;
    transform: translate(0, -50%);
  }

  .minimap-item-info-row {
    flex-direction: column;
  }
}
