@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --base-100: #edf1e8;
  --base-200: #d7dbd2;
  --base-300: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  background-color: var(--base-100);
  color: var(--base-300);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-transform: uppercase;
  font-size: clamp(5rem, 6vw, 7rem);
  font-weight: 800;
  line-height: 0.85;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  z-index: 2;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  background-color: var(--base-300);
  color: var(--base-100);
  border-radius: 0.5rem;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about {
  background-color: var(--base-200);
  color: var(--base-300);
}

.about h1 {
  width: 50%;
  text-align: center;
}

.lottie-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.lottie-container .lottie {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 0.75rem;
  transform: translateX(2rem);
  will-change: transform;
  z-index: 1;
}

.lottie-container .hero-img {
  width: 65%;
  aspect-ratio: 16/9;
  border-radius: 0.75rem;
  transform-origin: top right;
  will-change: transform;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .about h1 {
    width: 100%;
  }

  .lottie-container .lottie {
    width: 4rem;
    height: 4rem;
    transform: translateX(1rem);
  }

  .lottie-container .hero-img {
    width: 100%;
  }
}
