@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Serif", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
}

section {
  position: relative;
  width: 100vw;
  height: 100svh;
  background-color: #e3e3db;
  color: #141414;
  overflow: hidden;
}

.hero,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1,
.outro h1 {
  width: 50%;
  text-align: center;
}

.banner-img-container {
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.banner-img-container .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.banner-img-container .img.mask {
  -webkit-mask-image: url("/banner-img-mask.png");
  mask-image: url("/banner-img-mask.png");
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center;
  mask-position: center;
}

.banner-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  text-align: center;
  color: #e3e3db;
  z-index: 2;
}

.banner-intro-text-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  gap: 0.5rem;
  z-index: 10;
}

.banner-intro-text {
  flex: 1;
  position: relative;
  will-change: transform;
}

.banner-intro-text:nth-child(1) {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1000px) {
  .hero h1,
  .outro h1,
  .banner-header {
    width: calc(100% - 4rem);
  }
}
