@font-face {
  font-family: "Big Shoulders Display";
  src: url("./fonts/BigShouldersDisplay.ttf") format("woff2-variations");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Big Shoulders Display";
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
}

section {
  width: 100%;
  height: 100vh;
}

section.about,
section.services {
  padding: 4em;
  background: #87795f;
}

section.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13120e;
  color: #87795f;
}

section.footer h1 {
  font-size: 10vw;
  text-transform: uppercase;
}

section.marquees {
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.marquee-container {
  position: relative;
  width: 125%;
  height: 250px;
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  overflow: hidden;
}

.marquee {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  gap: 1em;
}

#marquee-1 .marquee,
#marquee-3 .marquee {
  left: -15%;
}

.item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item.with-text {
  flex: 1.5;
}

.item h1 {
  text-transform: uppercase;
  font-size: 140px;
}

@media (max-width: 900px) {
  section.marquees {
    height: 100vh;
  }

  .marquee-container {
    width: 250%;
    height: 150px;
  }

  #marquee-2 .marquee,
  #marquee-4 .marquee {
    left: -35%;
  }

  .item.with-text {
    flex: 1;
  }

  .item h1 {
    font-size: 60px;
  }
}

/* lenis scroll */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
